<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whut.oneworldserver.dao.ExhibitionDao">
    <select id="getAllExhibition" resultType="com.whut.oneworldserver.bean.ExhibitionInfo">
        SELECT * FROM tb_exhibition
    </select>

    <select id="getExhibitionComment" resultType="com.whut.oneworldserver.bean.ExhibitionCommentInfo">
        SELECT * FROM tb_comments_exhibition WHERE exhibitionNum=#{exhibitionNum}
    </select>
</mapper>