<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- “namespace就是PostDao” -->
<mapper namespace="com.whut.oneworldserver.dao.PostDao">
<!--    getAllPost是PostDao中的方法 -->
<!--    bean类PostInfo使用两个表连接查询，这里“tb_user.userName as author”和PostInfo的属性名一致-->
    <select id="getAllPost" resultType="com.whut.oneworldserver.bean.PostInfo">
        SELECT tb_post.*,tb_user.userName as author FROM tb_post join tb_user on tb_post.useId=tb_user.userId
    </select>

    <select id="getPostComment" resultType="com.whut.oneworldserver.bean.PostCommentInfo">
        SELECT * FROM tb_comments_post WHERE postNum=#{postNum}
    </select>
</mapper>